= simple_form_for @message do |f|
  = f.input :recipients, input_html: { data: { autocomplete_source: User.all.map(&:name) } }
  = f.input :subject
  = f.input :body, as: :text
  = f.button :submit, 'Send message'
