%h2 Compose
#compose
  = simple_form_for @message do |f|
    = f.label :recipients, required: false
    = f.input_field :recipients, data: { autocomplete_source: MessagingUser.all.map(&:name) }
    = f.label :subject, required: false
    = f.input_field :subject
    = f.label :body, required: false
    = f.input_field :body, as: :text
    = f.input :attachment, as: :file
    = f.button :submit, 'Send message'
