!!!
%html
  %head
    %title Messaging
    = stylesheet_link_tag "messaging/application"
    = javascript_include_tag "messaging/application"
    = csrf_meta_tags
  %body
    %h1 Messaging
    #alert= alert
    #notice= notice
    %nav
      = link_to "Inbox", messages_path(box: 'inbox')
      = link_to "Sent", messages_path(box: 'sent')
      = link_to "Trash", messages_path(box: 'trash')
    = yield
