!!!
%html
  %head
    %title Messaging
    = stylesheet_link_tag "messaging/application"
    = javascript_include_tag "messaging/application"
    = csrf_meta_tags
  %body
    %h1 Messaging
    #alert= alert
    #notice= notice
    = yield
